#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: black;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
ul li {
  display: flex;
  align-items: center;   /* vertical alignment */
  gap: 10px;             /* space between radio & text */
  cursor: pointer;
}

li {
  margin-bottom: 8px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #646cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
